html {
  background-color: lightblue;
}

body {
  margin: 0px 500px 0px 500px;
  background-color: green;
  border: 5px groove black;
}

img {
  width: 350px;
  border-radius: 100%;
  border: 20px groove yellow;
  margin: 15px auto;
  display: block;

}

header {
  font-size: xx-large;
  margin: 10px 20px 10px 20px;
  color: tomato;
}

p {
  width: 800px;
  margin: 10px 20px 10px 20px;
  font-size: large;
}

#first {
  color: blue;
}

#second {
  color: orangered;
}

#third {
  color: hotpink;
}

#forth {
  color: purple;
}
