body {
    background-image: url("../img/fog.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

header {
    color: #094562;
    text-align: center;
    font-size: 3rem;
    padding: 10px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

li {
  padding: 10px;
}


section {
  height:250px;
  text-align: center;
  margin: 20px 20px 20px 20px;
}

li:hover {
  color: green;
}

.box-1 {
    background-color: rgba(22, 5, 255, 0.23);

}

.box-2 {
    background-color: rgba(43, 255, 5, 0.23);

}

.box-3 {
    background-color: rgba(255, 5, 5, 0.23);

}

.box-4 {
    background-color: rgba(218, 5, 255, 0.23);
}
