html, body, ul, li {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

ul {
  /*list-style: none;*/
  background-color: deepskyblue;
  display: flex;
  flex-flow: column nowrap;
}

a {
  color: white;
  text-decoration: none;
  display: block;
}

li {
  border-top: 1px solid white;
  text-align: center;
  padding: 20px 0;

}

li:hover {
  background-color: royalblue;
}

li:first-child {
  border-top: 0;
}
