html, body, header, article, aside, footer {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column;
}

header, aside, footer {
  text-align: center;
  padding: 10px;
}

header {
  background-color: orangered;
}

article {
  background-color: lightblue;
  padding: 10px;
}

#one {
  background-color: yellow;
}

#two {
  background-color: pink;
}

footer {
  background-color: lightgreen;
}
